 <main>
    <h1 class="welcome-title"> Welcome to Real Dev Squad </h1>
    <h2 class="info-note highlighted-text">You can check out all our current events happening <a href="./events">here</a></h2>
</main>